@font-face {
    font-family: montserrat;
    src: url(.assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    /* base dimensions */

    --content-default-margin-top: 1vw;

    /* colors */

    --background-color-primary: #f1f6ff;
    --background-color-secondary: #f3f3f3;

    --almost-black: #4f505e;
    --ocean-blue: #3d40ff;
    --dark-blue: #455897;
    /*81, 50, 255 */
}

body {
    font-family: montserrat;
    background-color: var(--background-color-primary);
    /*padding-top: 0.7rem;*/
}

a {
    color: var(--almost-black);
    font-weight: 650;
    text-decoration: none;
}

nav {
    display: flex;

    flex-direction: row;
    color: var(--almost-black);
    padding-top: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    /* box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02); */
}

nav a {
    margin-right: 30px;
    font-size: 1em;
}

nav img {
    width: 15px;
    margin-right: 2.5px;
}

#navBadge {
    color: var(--ocean-blue);
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

#navOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-banner {
    position: relative;
    text-align: center;
}

#hero-banner h1 {
    position: absolute;
    top: 20px;
    left: 40px;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.imageGalleryLarge {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
}

.imageGalleryLarge img {
    border-radius: 20px;
    object-fit: cover;
    width: inherit;
}

.container {
    display: flex;
}

#container-list {
    flex-direction: column;
    margin-bottom: 10px;
}

.destinationHeading {
    background-color: rgb(223, 227, 255);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    margin-right: 5px;
}

.destinationHeading h1 {
    color: var(--dark-blue);
    font-size: 1em;
    font-weight: 750;
}

.info-block {
    background-color: rgb(230, 237, 255);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding: 25px;
    width: 100%;
}

.info-block h1 {
    color: var(--dark-blue);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.info-block p {
    margin-top: 8px;
    font-size: 1em;
    color: var(--almost-black);
    font-weight: 600;
}

section {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section h1 {
    font-size: 2.25rem;
    font-weight: 650;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4f505e;
    margin-top: 0;
    margin-bottom: 0;
}

.innerSection {
    display: flex;
    justify-content: space-between;
}

.sectionThumbnail {
    width: 60%;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 30px;
}

footer {
    display: flex;
    margin-top: 200px;
    background-color: #212122;
    color: white;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}