@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: funnel;
    src: url(../fonts/FunnelDisplay-VariableFont_wght.ttf);
}

:root {
    /* base dimensions */

    --content-default-margin-top: 1vw;

    /* colors */

    --background-color-primary: #f1f6ff;
    --background-color-secondary: #f3f3f3;

    --almost-black: #4f505e;
    --ocean-blue: #3d40ff;
    --dark-blue: #455897;
    /*81, 50, 255 */
}

body {
    font-family: montserrat;
    background-color: var(--background-color-primary);
    /*padding-top: 0.7rem;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    font-family: funnel;
}

a {
    color: var(--almost-black);
    font-weight: 650;
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--almost-black);
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.02); */
}

nav a {
    margin-right: 30px;
    font-size: 1em;
    transition: 0.5s;
}

nav a:hover {
    color: #ffbc03;
    transition: 0.5s;
}

nav img {
    width: 15px;
    margin-right: 2.5px;
}

#navBadge {
    color: var(--ocean-blue);
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

#navOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}

#hero-banner {
    position: relative;
    text-align: center;
}

#hero-banner-text {
    position: absolute;
    top: 20px;
    left: 40px;
    text-align: left;
}

#hero-banner-text h1 {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.imageGalleryLarge {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
}

.imageGalleryLarge img {
    border-radius: 20px;
    object-fit: cover;
    width: inherit;
}

.container {
    display: flex;
}

#container-list {
    flex-direction: column;
    margin-bottom: 10px;
}

.destinationHeading {
    background-color: rgb(223, 227, 255);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    margin-right: 5px;
}

.destinationHeading h1 {
    color: var(--dark-blue);
    font-size: 1em;
    font-weight: 750;
}

.info-block {
    background-color: rgb(230, 237, 255);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding: 25px;
    width: 100%;
    transition: 0.25s;
}

.info-block:hover {
    width: 99%;
    background-color: rgb(206, 220, 255);
    transition: 0.25s;
}

.info-block h1 {
    color: var(--dark-blue);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.info-block p {
    margin-top: 8px;
    font-size: 1em;
    color: var(--almost-black);
    font-weight: 600;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1.15fr 2.5fr 1fr;
    grid-template-rows: 0fr 0.5fr 1fr;
    gap: 5px;
    padding: 5px;
}

#food-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.food-block {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 237, 255);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding: 5px;
    transition: 1s;
}

.food-block:hover {
    background-color: rgb(199, 230, 255);
    transition: 1s;
}

.food-block h1 {
    color: var(--dark-blue);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.food-block p {
    margin-top: 8px;
    font-size: 1em;
    color: var(--almost-black);
}

#gallery-grid {
    grid-template-columns: 1fr 1.5fr 2.25fr 1.5fr;
    grid-template-rows: 400px 40%;
    gap: 5px;
}

#gallery-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.shore-block {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 213, 255);
    border: 0.2px solid rgb(171, 179, 255);
    border-radius: 8px;
    padding: 5px;
    transition: 1s;
}

.shore-block:hover {
    background-color: rgb(255, 186, 240);
    transition: 1s;
}

.shore-block h1 {
    color: var(--dark-blue);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.shore-block p {
    margin-top: 8px;
    font-size: 1em;
    color: var(--almost-black);
}

.attraction-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.attraction-grid img {
    height: 325px;
    border-radius: 8px;
}

.attraction-block {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 223, 242);
    border: 0.2px solid rgb(202, 206, 243);
    border-radius: 8px;
    padding: 15px;
    font-size: 0.95em;
    transition: 1s;
    margin-right: 10px;
    margin-top: 10px;
    width: 400px;
}

.attraction-block img {
    width: 100%;
    object-fit: cover;
}

.attraction-block:hover {
    background-color: rgb(248, 239, 255);
    transition: 1s;
}

.attraction-block h1 {
    color: rgb(170, 88, 136);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.attraction-block p {
    margin-top: 8px;
    font-size: 1em;
    font-weight: 500;
    color: var(--almost-black);
}

/*   */

.experiences-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.experiences-grid img {
    height: 325px;
    border-radius: 8px;
}

.experiences-block {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 230, 255);
    border: 0.2px solid rgb(233, 202, 243);
    border-radius: 8px;
    padding: 15px;
    font-size: 0.95em;
    transition: 1s;
    margin-right: 10px;
    margin-top: 10px;
    width: 400px;
}

.experiences-block img {
    width: 100%;
    object-fit: cover;
}

.experiences-block:hover {
    background-color: rgb(248, 223, 253);
    transition: 1s;
}

.experiences-block h1 {
    color: rgb(143, 82, 133);
    font-size: 1.75em;
    font-weight: 800;
    margin: 0px;
}

.experiences-block p {
    margin-top: 8px;
    font-size: 1em;
    font-weight: 500;
    color: var(--almost-black);
}

section {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: fit-content;
}

section h1 {
    font-size: 2.25rem;
    font-weight: 650;
    margin-top: 0;
    margin-bottom: 5px;
}

section h3 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4f505e;
    margin-top: 0;
    margin-bottom: 0;
}

.section-list {
    display: grid;
}

.innerSection {
    display: flex;
    justify-content: space-between;
}

.sectionThumbnail {
    width: 60%;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 30px;
}

footer {
    display: flex;
    color: var(--dark-blue);
    margin-top: 10px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-div {
    background-color: rgb(230, 237, 255);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0.2px solid rgb(202, 206, 243);
}

@media (max-width: 1660px) {
    .experiences-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1272px) {
    .experiences-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 860px) {
    .experiences-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .imageGalleryLarge {
        display: flex;
        justify-content: center;
        height: 150px;
        width: 500px;
        margin: auto;
        margin-top: 15px;
    }

    .header {
        width: 600px;
    }

    .sectionThumbnail {
        display: none;
    }

    section h1 {
        font-size: 1.75rem;
    }
}